@{
    ViewData["Title"] = "Verbali > 400€";
}

<h2 class="mt-3 mb-4">Verbali con Importo di Pagamento Superiore a 400€</h2>


@if (Model is null)
{
    <h2 class="mt-3 mb-4">Non ci sono verbali sul database</h2>
}
else
{
    <table class="table mb-5">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Data Violazione</th>
                <th scope="col">Decurtamento punti</th>
                <th scope="col">Importo</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var multa in Model)
            {
                <tr>
                    <td>@multa.Nome</td>
                    <td>@multa.Cognome</td>
                    <td>@multa.DataViolazione.ToShortDateString()</td>
                    <td>@multa.DecurtamentoPunti</td>
                    <td>@multa.Importo.ToString("#,0.##") €</td>
                </tr>
            }
        </tbody>
    </table>
}


